.body {
  display: grid;
  place-items: center;
  .container,
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    width: 100%;
    max-width: 1060px;

    .css-1ihn47v-SkeletonTheme {
      width: 100%;
      height: 100%;
      p {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          span {
            margin: 1rem;
          }
        }
      }
    }

    .image {
      width: 100%;
      height: 100vh;
      max-width: 19.875rem;
      max-height: 19.875rem;
      margin: 1rem;
      border-radius: 4px;

      .top {
        height: 100%;
        .actual {
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          transition: all 300ms ease-in-out;
          display: grid;
          place-items: center;
          border-radius: 3px;

          button,
          p {
            opacity: 0;
            transition: all 300ms ease-in-out;
            background: rgba(17, 17, 17, 0.575);
            padding: 0.25rem;
            border-radius: 4px;
            border: none;
            text-align: center;
            word-break: break-all;

            &:not(:first-child) {
              margin-top: 1rem;
            }
          }

          &:hover {
            cursor: pointer;
            opacity: 0.8;

            button {
              cursor: pointer;
              opacity: 1;
              background: rgba(17, 17, 17, 0.575);

              color: white;
              border: none;
            }
            p {
              color: white;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
