.header {
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0 2rem;

    .right {
      display: flex;
      align-items: center;

      h4 {
        margin-right: 0.5rem;
      }

      button {
        padding: 0.45rem;
        cursor: pointer;
        border: none;
        background-color: #753422;
        color: #ffebc9;
        z-index: 1;
      }
    }
  }
  .fixed {
    position: fixed;
    right: 0;
    top: 1rem;
    z-index: 10;
    transition: all 300ms ease-in-out;
    background-color: #753422;
    &.video {
      top: 18rem;
    }

    .container {
      padding-left: 0;
      margin-left: 0;
      .sign {
        cursor: pointer;
        padding-right: 1rem;
        margin-left: 0.5rem;
      }

      form {
        display: flex;
        flex-direction: column;

        input {
          padding: 0.5rem;
          margin: 0.25rem 0;
        }
        button {
          padding: 0.5rem;
          margin-bottom: 0.75rem;
        }
      }
    }

    &.closed {
      transform: translateX(90%);
    }
  }
}
