.videos-app {
  width: 100%;
  height: 100%;

  .videos {
    max-height: 580px;
    .css-1ihn47v-SkeletonTheme {
      p {
        span {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          span {
            margin: 1rem;
          }
        }
      }
    }

    .video {
      width: 100%;
      height: 100%;
      margin-bottom: 2rem 0;
      display: grid;
      place-items: center;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        max-width: 640px;
        max-height: 360px;
        padding: 0.5rem;

        .player {
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;
          transition: all 300ms ease-in-out;
          margin-bottom: 0.25rem !important;
          width: 100% !important;
          height: 100%;
        }
        button {
          padding: 0.25rem;
          cursor: pointer;
          border: none;
          background-color: #753422;
          color: white;

          &:disabled {
            opacity: 0.7;
            cursor: unset;
          }
        }
      }
    }
  }
}
